
*{
    box-sizing: border-box;
}

html, body{
    background-color: #fafafa;
    height: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    text-align: center;
}

#root{
    height: 100%;
}

.App {
    width: 100%;
    height: 100%;
    text-align: center;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    height: 25px;
    width: 100%;
    background-color: #191919;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header a{
    color: #FAFAFA;
    margin: 0 10px;
}

.header button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #FAFAFA;
    margin: 0 3vh;
}

.nav-bar-con{
    width: 100%;
    text-align: center;
    background-color: #008080;
}

.nav-bar{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
}

.nav-bar-but-con{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-bar button{
    color:#CFD8DC;
    height: 100%;
    border: none;
    background: none;
    background-color: none;
    margin: 0 10px 0 10px;
    padding: 0;
}

.nav-button-line{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5px;
    border-radius: 3px 3px 0 0 ;
    background-color: none;
    bottom: 0;
}

.product-table-con-page{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.table-con{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}


table {
	width: 90%;
	margin: 10px;
}

table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #78909C;
	font-size: 14px;
}
table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}
table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
table tbody tr:nth-child(even){
	background: #CFD8DC;
}
table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}

tr:hover td {background:#80CBC4}

.tool-bar-for-table-con{
    width: 100%;
    margin: 0 auto;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: #191919;
}

.tool-bar-head{
    width: 100%;
    height: auto;
    margin: 0;
    background-color: #008080;
    display: flex;
    padding: 0 10px 0 10px;
}

.tool-bar{
    width: 50%;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.button-con_1{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.button_1{
    background: transparent;
    border: none;
    padding: 5px;
    color: #fafafa;
    cursor: pointer;
    margin: 0;
    /* border-radius: 8px; */
}

.button-line_1{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5px;
    border-radius: 3px 3px 0 0 ;
    background-color: none;
    bottom: 0;
}

.input-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.standart-input{
    width: 50%;
    margin-bottom: 10px;
}

.standart-textarea{
    width: 100%;
    height: 100px;
    max-width: 100%;
    margin-bottom: 10px;
}

.label-white{
    color: #fafafa;
    padding: 0 0.3vh;
    margin: 0;
    text-align: left;
    font-size: 14px;
}

.standart-input-file{
    width: 50%;
    margin-bottom: 10px;
    color: #fafafa
}

.marginHorizontal10px{
    margin: 0 10px; 
}

.AddProduct{
    background-color: #37474F;
    width: 90%;
    height: 600px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
}

.boxW100per{
    position: relative;
    width: 100%;
    margin: 0;
}

.w100per{
    width: 100%;
}


.inputCon{
    width: 100%;
}

.inputCon div{
    clear:both; text-align:right;
}

.inputCon label{
    float: left;
}
 

.drop-zone {
    height: 150px;
    width: 150px; 
    background-color: #008080;
    margin: 0 auto;
    border: none;
    border-radius: 18px;
    outline: dashed 4px #fafafa;
    outline-offset: -10px;

    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .drop-zone-over {
    border: black 10px dashed;
  }

  .drop-zone-img{
    width: 100px;
    height: 100px;
  }

.image-slider-con{
    width: 500px;
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;

}

.image-slider-con img{
    height: 100px;
    height: 100px;
    max-width: 100px;
    min-height: 100px;
    margin: 5px;
    border-radius: 10px;
    border: dashed 2px #fafafa;
}

.img-con{
    position: relative;
    width: 110px;
    height: 110px;
    display: block;
    margin: 0;
}

.del-button{
    width: 20px;
    height: 20px;
    background: #191919;
    padding: 0;
    z-index: 1000;
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0px;
    border: none;
    border-radius: 50%;
}

.del-img{
    width: 20px;
    height: 20px;
}